.app {
  height: 930px;
  width: 1400px;
  margin: 0 auto;
  &__board{
    margin: 0 auto;
    width: 1300px;
    height: 750px;
    display: flex;
    gap: 30px;
    justify-content: center;
  }
}

.board{
  min-width: 400px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  &__title{
    font-size: 24px;
    align-items: center;
    padding: 20px;
  }
}

.card{
  width: 300px;
  margin: 30px auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
}

