@import '../../style/colors.scss';

.app {
  width: 100%;
  margin: 0 auto;
  &__header{
    background-color: $brown;
    width: 100%;
  }
  &__footer{
    background-color: $brown;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  &__board{
    padding: 10px;
    margin: 0 auto;
    max-width: 1750px;
    height: 700px;
    display: flex;
    gap: 30px;
    
    
    overflow: scroll;
    scrollbar-width: thin;
    scrollbar-color: $pudra;
    overflow: auto;
    scrollbar-gutter: stable;
  }
  &__modal{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(142, 60, 39, 0.6);
    backdrop-filter: brgba(151, 50, 50, 0.6);
    &_active{
      display: block;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &_close{
      display: none;
    }
  }
}

.board{
  min-width: 400px;
  max-height: 100%;
  border: 3px solid $brown;
  border-radius: 10px;
  box-shadow: 0px 1px 30px $cherrywood;
  &__title{
    font-size: 24px;
    align-items: center;
    padding: 20px;
    color: $macaroni;
  }
  &__main{
    min-width: 400px;
    height: 600px;
    overflow: scroll;
    scrollbar-width: thin;
    scrollbar-color: $pudra;
    overflow: auto;
    scrollbar-gutter: stable;
    &::-webkit-scrollbar {
      width: 8px; 
    }
    &::-webkit-scrollbar-track{
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb{
      background-color: $light-yellow;
      border-radius: 20px;
    }
  }
  &__header{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
  }
  &__addButton{
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 28px;
    color: $macaroni;
    &:hover{
        color: $light-caral;
    }
  }
}

