@import '../../style/colors.scss';

.app {
  background-color: $light-yellow;
  max-height: 937px;
  width: 100%;
  margin: 0 auto;
  &__board{
    margin: 0 auto;
    width: 1300px;
    height: 750px;
    display: flex;
    gap: 30px;
    justify-content: center;
  }
  &__modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(185, 83, 83, 0.6);
    backdrop-filter: brgba(151, 50, 50, 0.6);
    &_active{
      display: block;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &_close{
      display: none;
    }
  }
}

.board{
  min-width: 400px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  &__title{
    font-size: 24px;
    align-items: center;
    padding: 20px;
  }
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: $pudra;
  overflow: auto;
  scrollbar-gutter: stable;
  &__header{
    display: flex;
    justify-content: space-between;
  }
  &__addButton{
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 22px;
    &:hover{
        color: $coral;
    }
  }
}

