@import '../../style/colors.scss';

.card{
    display: flex;
    justify-content: space-between;
    max-width: 350px;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    white-space: pre-line;

    &__del{
        button{
            cursor: pointer;
            border: none;
            background-color: transparent;
            font-size: 16px;
            &:hover{
                color: $coral;
            }
        }
    }
}