@import '../../style/colors.scss';

.modal{
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 400px;
    gap: 20px;
    margin-top: 10px;
    &_back{
        width: 500px;
        height: 300px;
        display: flex;
        padding: 30px 0;
        justify-content: center;
        background-color: $peach;
        gap: 10px;
        border-radius: 10px;
    }
    textarea{
        height: 80px;
        border-radius: 30px;
        padding: 15px;
        max-width: 400px;
    }
    input {
        border-radius: 100px;
    }
    p {
        font-size: 18px;
        color: $cherrywood;
        text-align: center;
    }
    &__input {
        width: 100%;
        padding: 10px;
        border: none;
        &::placeholder{
            color:$pudra;
        }
        &:focus, &:hover{
            outline: none;
        }
        &:focus{
            outline: 0.5px solid $pudra;
        }
    }
    &__button{
        font-size: 15px;
        color: $cherrywood;
        margin-top: 50px;
        cursor: pointer;
        min-width: 200px;
        padding: 8px 0;
        border-radius: 100px;
        margin: 0 auto;
        border: none;
        background-color: $macaroni;
        &:hover{
            background-color: $dark-pudra;
            color: $macaroni;
        }
        &_close{
            cursor: pointer;
            border: none;
            background-color: transparent;
            font-size: 16px;
            &:hover{
                color: $coral;
            }
        }
    }
}