.footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    max-width: 1440px;
    font-size: 20px;
    margin: 0 auto;
    padding: 20px 0;
    border: 1px solid black;
}