.footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    min-width: 1300px;
    font-size: 20px;
    margin: 0 auto;
    padding: 20px 0;
    border: 1px solid black;
}